<h1>Services</h1>

<div class="container">
      <%# <li><%= @services.barber</li> %>
      <li><%= @services.cut_type %></li>
      <li><%= @services.price %></li>
      <li><%= @Services.duration %></li>
</div>
