<h1>Services</h1>

<div class="container">
<h1><%= @barber.full_name %></h1>
  <% @barber.services.each do |service| %>
  <p><%= service.cut_type %></p>
  <p>$<%= service.price %>.00</p>
  <p><%= service.duration/60 %> minutes</p>
  <% end %>
</div>
