// Define variables for your color scheme

$primary: #77B6FF;
$secondary: #A0A0ED;
$black-primary: #090F15;
$black-secondary: #353E46;
$basic-white: #F9F9F9;

$both: #BF9DCF;
$beard: #9FACEF;
$hair: #FFC79E;
$lunch: #FF9A9A;
$empty: #DDDDDD;

$button-primary: #242466;
$button-secondary: #A0A0ED;
$stars: #FFB500;




