// Specific CSS for your home-page
@viewport {
  width: device-width;
  zoom: 1.0;
}

// background image with filter
.img-filter {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("background.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1000;
}


// banner title styling
.banner-title h1,
p {
  color: #e7e7e7;
  text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 0;
}

.banner-title h1 {
  font-family: 'Pacifico', cursive;
  padding-top: 100px;
  font-size: 64px;
  margin-top: 80px;
}

.banner-title p {
  padding-bottom: 100px;
  font-family: 'Dosis';
  font-size: 1.4rem;
}


// Barber section
.barbers-container {
  width: 90%;
  margin: auto;
}

.barbers-container h2 {
  color: #e7e7e7;
  text-align: center;
  text-shadow: 4px 4px 16px $black-secondary;
  font-family: 'Dosis';
  margin-bottom: 12px;
}

.nav1,
.location {
  background-color: $button-primary;
  color: $basic-white;
  width: 100%;
  border-radius: 4px;
  box-shadow: 4px 4px 16px $black-primary;
  text-align: center;
}

.location {
  p {
    vertical-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .search {
    font-weight: bold;
  }
}

