<div class="footer">
  <div class="row justify-content-center">
    <div class="col-6 back">
      <%= link_to :back do %><i class="fas fa-chevron-left"></i><% end %>
    </div>
    <div class="col-6 home">
      <%= link_to root_path do %>
     <i class="fas fa-home" %></i>
    <% end %>
    </div>
  </div>
</div>
