<div class="search-container">
  <%# <input type="text" placeholder="Enter your postal code"> %>
  <%= form_tag users_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      id: "search_form",
      # class: "input",
      placeholder: "Enter your postal code"
      %>
  <% end %>
  <div class="search">
  </div>
</div>
