<div class="appointments-reviews-favourites"  id="appointments-reviews-favourites">
  <div class="part1 d-flex">
    <div class="appointments active" id="appointments2">
      <p>My Appointments</p>
    </div>
    <div class="reviews" id="reviews2">
      <p>My Reviews</p>
    </div>
    <!-- favourites on hold not a priority decided oct28th
     <div class="favourites" id="favourites2">
      <p>My Favourites</p>
    </div> -->
  </div>
  <div class="part2">
    <div class="appointments_section appear" id="spot5">
      <% if @appointments.empty?  %>
        <p>you have no appointment</p>
      <% else %>
        <% @appointments.each do |appointment|%>
        <p>Here are your appointment information with <%= appointment.barber.full_name %>:
          <%= appointment.start_time %>
        </p>
        <% end %>
      <% end %>
    </div>
    <div class="reviews_section change" id="spot6">
      <p>This is my reviews section you can see how picky I am</p>
    </div>
    <!-- favourites on hold not a priority decided oct28th
    <!-- <div class="favourites_section change" id="spot7">
      <p>These are my favourite barbers</p>
    </div> -->
  </div>
</div>

