<div class="schedule-appointment-reviews-services">
  <div class="part1 d-flex">
    <div class="schedule active" id="schedule3">
      <p>Client</p>
    </div>
    <div class="appointments" id="appointments3">
      <p>Appointments</p>
    </div>
    <div class="reviews" id="reviews3">
      <p>Reviews</p>
        <%= @barber.average_rating %>
          <div class="barber">
            <% @barber.comment.each do |comment| %>
            <%= comment %>
          <% end %>
    </div>
    <div class="services" id="services3">
      <p>Services</p>
    </div>
  </div>
  <div class="part2">
    <div class="schedule_section appear" id="spot1">
      <p>This is my schedule</p>
    </div>
    <div class="appointment_section change" id="spot2">
      <p>These are my appointments</p>
    </div>
    <div class="reviews_section change" id="spot3">
      <p>These are my clients' reviews</p>
    </div>
    <div class="services_section change" id="spot4">
      <p>These are the services I offer</p>
    </div>
  </div>
</div>
