<!-- This goes in the barber dashboard -->
<!-- dont forget the edit button -->
<!-- <ul class="nav nav-tabs" id="myTab" role="tablist"> -->
  <!-- <li class="nav-item" role="presentation"> -->
    <!-- schedule calendar when I am off when i got busy -->
    <!-- <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Schedule</button> -->
  <!-- </li> -->
  <!-- schedule calendar when I am off when i got busy -->
  <!-- <li class="nav-item" role="presentation"> -->
    <!-- <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Appointments</button> -->
  <!-- </li> -->
  <!-- <li class="nav-item" role="presentation"> -->
    <!-- <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Reviews</button> -->
  <!-- </li> -->
  <!-- <li class="nav-item" role="presentation"> -->
    <!-- <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Services</button> -->
  <!-- </li> -->
<!-- </ul> -->
<!-- <div class="tab-content" id="myTabContent"> -->
  <!-- <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div> -->
  <!-- <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div> -->
  <!-- <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div> -->
<!-- </div> -->


<div class="schedule-appointment-reviews-services">
<div class="part1 d-flex">
    <div class="schedule active" id="schedule3">
      <p>Schedule</p>
    </div>
    <div class="appointments" id="appointments3">
      <p>Appointments</p>
    </div>
    <div class="reviews" id="reviews3">
      <p>Reviews</p>
    </div>
    <div class="services" id="services3">
      <p>Services</p>
    </div>
</div>
<div class="part2">
    <div class="schedule_section appear" id="spot1">
      <p>This is my schedule</p>
    </div>
    <div class="appointment_section change" id="spot2">
      <p>These are my appointments</p>
    </div>
    <div class="reviews_section change" id="spot3">
      <p>These are my clients' reviews</p>
    </div>
    <div class="services_section change" id="spot4">
      <p>These are the services I offer</p>
    </div>
  </div>
</div>
