
<div class="reviews-services" id="reviews-services">
  <div class="part1 d-flex">
    <div class="reviews active" id="reviews">
      <p>Reviews</p>
    </div>
    <div class="services" id="services">
      <p>Services</p>
    </div>
  </div>
  <div class="part2">
    <div class="reviews_section appear" id="spot">
      <p>These are my clients' reviews</p>
    </div>
    <div class="services_section" id="spot-service">
      <div class="services-container">
        <% @barber.services.each do |service| %>
          <div class="cut-type services-card">
            <p><%= service.cut_type %></p>
          </div>
          <div class="price services-card">
            <p>$<%= service.price %>.00</p>
          </div>
          <div class="duration services-card">
            <p><%= service.duration/60 %> minutes</p>
          </div>
          <div class="extra services-card">
            <!-- <p><%= service.duration/60 %> minutes</p> -->
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
