<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%# if user is current user and the role is client, then show all the barber(users.barber.all) %>
<%# else redirect to user's dashboard %>
