<!-- <h1>This is where it all begins</h1> -->
<!-- <p>Find me in app/views/pages/home.html.erb</p> -->

<!-- part 1 -->
<!-- image of clean Kut's in background

container with 2 divs(one is the logo of clean Kut's, one is the avatar of the client)

search bar -->


<!--  -->
<!-- PART2 -->
<h1> TOP 5 BARBERS</br>
NEAR YOUR LOCATION </h1>

<!-- 5 cards should use iteration of barbers -->
<!--  -->

<!-- footer -->
<!-- footer is alzays at the bottom of the screen not at the bottom of the page
maybe use a position stick-->
<!-- on left Hone, on Right Back -->
<!-- icons are from font awesome -->
<!-- home: <i class="fas fa-home"></i> -->
<!-- back: <i class="fas fa-chevron-left"></i>-->

<%# if user is current user and the role is client, then show all the barber(users.barber.all) %>
<%# else redirect to user's dashboard %>
