.simple-calendar {
    table {
      min-height: 80vh;
    }
    .today {
      background-color: #FAF3DD;
    }
  background-color: white;

  .meeting {
    color: white;
    padding: 4px 10px;
    border-radius: 4px;
    background: #1EDD88;
    transition: background 0.3s ease;
    height: 160px;
  }

  .meeting:hover {
    background: #1BCB7F;
    color: white;
  }
}

  .calendar-day {
    // border: 5px solid green;
    // font-size: 12px;
    padding: 0px;
  }

  .calendar-container {
    overflow-x: scroll;
    background: white;
    padding-top: 50px;
  }

  .fix-table-header {
    position: absolute;
    background-color: white;
    top: 190px;
    padding: 8px;
    width: 100%;
  }

  .calendar-header {
    min-width: 33vw;
    max-width: 33vw !important;
  }
  .bg-white {
    margin-top: 80px;
  }
