.barber-card {
  overflow: hidden;
  height: 120px;
  background: #e7e7e7;
  display: flex;
  border-radius: 4px;
  box-shadow: 4px 4px 16px $black-primary;
  margin-bottom: 16px;
}

.barber-avatar img {
  object-fit: cover;
  height: 100%;
  width: 120px;
  opacity: 80%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.barber-infos {
  width: 60%;
  padding: 12px;
  flex-grow: 1;
  .comment-icon {
    font-size: 20px;
    color: rgb(40, 40, 40);
  }
}

.barber-infos p {
  color: $black-primary;
  text-align: left;
  overflow: scroll;
}

.barber-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  a {
    color: $black-primary;
  }
}

.barber-card p {
  font-size: 14px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.barber-location {
  color: rgb(90, 90, 90);
  display: flex;
  align-items: center;
  span {
    font-size: 12px;
  }
  i {
    margin-right: 6px;
    font-size: 13px;
  }
}
