.barber-dashboard {
  padding: 0 12px;
}

.barber-profile-card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 16px;
  border-radius: 4px;
  overflow: scroll;
}

.barber-actions {
  padding: 0 28px;
  font-weight: bold;
  a {
    color: black;
  }
  i {
    margin-right: 6px;
  }
}

.barber-name {
  margin: 0px 0px 0px 6px;
  padding: 0px;
}
.barber-name h2 {
  padding: 0px;
  margin: 0px;
}
.top-barber-card-info {
  display: flex;
  flex-direction: column;
}
.profile-info {
  font-size: 0.8rem;
  i {
    width: 20px;
  }
  div {
    margin-bottom: 4px;
  }
}

.description {
  margin: 12px auto;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 16px;
  border-radius: 4px;
  div {
    color: rgb(90, 90, 90);
  }
}

.reviews-services {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 16px;
  border-radius: 4px;
  height: 320px;
}

.tab {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.info-avatar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 6px;
}
