// <!-- When I click on a tab button, a section appears -->
// <!-- Name the class of those tabs buttom class="reviews", class="services"-->
// <!-- Name the class of those sections class="reviews_section", class="services_section"-->

// start of barber dashboard css
.schedule-appointment-reviews-services {
  p {
    color: black;
  }
  .info {
    margin-top: 0px;
  }
  .active {
    background-color: $light-gray;
    // box-shadow: 4px 4px 12px rgba(0,0,0,0.5);
  }
  .passive {
    background-color: transparent;
  }
  .schedule {
    display: block;
    width: 25%;
    height: 100px;
    padding: 16px;
    border-radius: 4px 4px 0px 0px;
  }
  .appointments {
    display: block;
    width: 25%;
    height: 100px;
    padding: 16px;
    border-radius: 4px 4px 0px 0px;
  }
  .reviews {
    display: block;
    width: 25%;
    height: 100px;
    padding: 16px;
    border-radius: 4px 4px 0px 0px;
  }
  .services {
    display: block;
    width: 25%;
    height: 100px;
    padding: 16px;
    border-radius: 4px 4px 0px 0px;
  }
  .change {
    display: none;
  }
  .appear {
    display: block;
    width: 100%;
    // box-shadow: 4px 4px 12px rgba(0,0,0,0.5);
    background-color: $light-gray;
  }
  .schedule_section {
    width: 100%;
    height: 100px;
    background-color: $light-gray;
  }
  .appointment_section {
    width: 100%;
    height: 100px;
  }
  .reviews_section {
    width: 100%;
    height: 100px;
  }
  .services_section {
    width: 100%;
    height: 100px;
  }
}

// start of client profile css
.appointments-reviews-favourites {
  margin-top: 10px;
  padding: 16px;
  cursor: pointer;
  display: flexbox;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  p {
    padding:0px;
    margin:0px;
    color: black;
  }
  .active {
    background-color: $light-gray;
    // box-shadow: 4px 4px 12px rgba(0,0,0,0.5);
  }
  .passive {
    background-color: transparent;
  }
  .change {
    display: none;
  }
  .appear {
    display: block;
    width: 100%;
    // box-shadow: 4px 4px 12px rgba(0,0,0,0.5);
    background-color: $light-gray;
    border-radius: 0px 0px 4px 4px;
  }
  // ----
  .reviews {
    display: block;
    width: 50%;
    padding: 16px;
    border-radius: 4px 4px 0px 0px;
  }
  .appointments {
    display: block;
    width: 50%;
    padding: 16px;
    align-content:center;
    border-radius: 4px 4px 0px 0px;
  }
  // .services {
  //   display: block;
  //   width: 50%;
  //   padding: 16px;
  //   align-content:center;
  //   border-radius: 4px 4px 0px 0px;
  // }

  // .services_section {
  //   display: none;
  //   width: 100%;
  //   height: 246px;
  // }

  .appear {
    display: block;
    width: 100%;
    height: 246px;
    // box-shadow: 4px 4px 12px rgba(0,0,0,0.5);
    background-color: $light-gray;
  }
  .reviews_section {
    width: 100%;
    height: 246px;
    background-color: $light-gray;
  }
  // -----
}

// end of client profile

// entire css below for the tabs in barber's profile
// <!-- When I click on a tab button, a section appears -->
// <!-- Name the class of those tabs buttom class="reviews", class="services"-->
// <!-- Name the class of those sections class="reviews_section", class="services_section"-->

.reviews-services {
  cursor: pointer;
  display: flexbox;
  p {
    color: black;
  }
  .active {
    background-color: $light-gray;
    // box-shadow: 4px 4px 12px rgba(0,0,0,0.5);
  }
  .passive {
    background-color: transparent;
  }
  .change {
    display: none;
  }
  .reviews {
    display: block;
    width: 50%;
    padding: 16px;
    border-radius: 4px 4px 0px 0px;
  }
  .services {
    display: block;
    width: 50%;
    padding: 16px;
    border-radius: 4px 4px 0px 0px;
    overflow: scroll;
  }
  .services_section {
    display: none;
    width: 100%;
    height: 246px;
    overflow: scroll;
  }
  .appear {
    display: block;
    width: 100%;
    // box-shadow: 4px 4px 12px rgba(0,0,0,0.5);
    background-color: $light-gray;
    border-radius: 0px 0px 4px 4px;
    overflow: scroll;
  }
  .reviews_section {
    width: 100%;
    height: 246px;
    background-color: $light-gray;
    border-radius: 0px 0px 4px 4px;
    overflow: scroll;
  }
}

.part1 {
  border-radius: 4px 4px 0 0;
}
.review-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #FFF0E5;
  width: 80%;
  margin: 24px auto;
  box-shadow: $tertiary-box-shadow;
  border-radius: 4px;
  padding: 0.7em;
}

.review-card p {
  text-align: left;
  display: inline-flex;
  align-items: baseline;
}

.review-card > p {
  margin-right: 1em;
}

.review-card p span {
  font-size: .5em;
  opacity: .5em;
  padding-left: 0.3em;
}


