// <!-- When I click on a tab button, a section appears -->
// <!-- Name the class of those tabs buttom class="reviews", class="services"-->
// <!-- Name the class of those sections class="reviews_section", class="services_section"-->


// start of barber dashboard css
.schedule-appointment-reviews-services {
  p {
    color:black;
  }
  .info{
  margin-top: 0px;
}

  .active {
    background-color: $light-gray;
    // box-shadow: 4px 4px 12px rgba(0,0,0,0.5);
  }

  .passive {
    background-color: transparent;
  }

  .schedule {
    display: block;
    width: 25%;
    height: 100px;
    padding: 8px;
    border-radius: 4px 4px 0 0;
  }

  .appointments {
    display: block;
    width: 25%;
    height: 100px;
    padding: 8px;
    border-radius: 4px 4px 0 0;
  }

  .reviews {
    display: block;
    width: 25%;
    height: 100px;
    padding: 8px;
    border-radius: 4px 4px 0 0;
  }
  .services {
    display: block;
    width: 25%;
    height: 100px;
    padding: 8px;
    border-radius: 4px 4px 0 0;
  }

  .change {
    display: none;
  }

  .appear {
    display: block;
    width: 100%;
    // box-shadow: 4px 4px 12px rgba(0,0,0,0.5);
    background-color: $light-gray;
  }

  .schedule_section {
    width: 100%;
    height: 100px;
    background-color: $light-gray;
  }

  .appointment_section {
    width: 100%;
    height: 100px;
  }

  .reviews_section {
    width: 100%;
    height: 100px;
  }

  .services_section{
    width: 100%;
    height: 100px;
  }
}

// start of client profile css
.appointments-reviews-favourites {
  cursor: pointer;
  display: flexbox;

  p {
    color: black;
  }

  .active {
    background-color: $light-gray;
    // box-shadow: 4px 4px 12px rgba(0,0,0,0.5);
  }

  .passive {
    background-color: transparent;
  }

 .change {
    display:none;
  }

  .appear {
    display: block;
    width: 100%;
    // box-shadow: 4px 4px 12px rgba(0,0,0,0.5);
    background-color: $light-gray;
  }
// ----
  .reviews {
    display: block;
    width: 50%;
    padding: 8px;
    border-radius: 4px;
  }

  .services {
    display: block;
    width: 50%;
    padding: 8px;
    border-radius: 4px 4px 0 0;
  }

  .services_section {
    display: none;
    width: 100%;
    height: 100px;
  }

  .appear {
    display: block;
    width: 100%;
    height: 180px;
    // box-shadow: 4px 4px 12px rgba(0,0,0,0.5);
    background-color: $light-gray;
  }

  .reviews_section {
    width: 100%;
    height: 100px;
    background-color: $light-gray;
  }
  // -----
}


// end of client profile

// entire css below for the tabs in barber's profile
// <!-- When I click on a tab button, a section appears -->
// <!-- Name the class of those tabs buttom class="reviews", class="services"-->
// <!-- Name the class of those sections class="reviews_section", class="services_section"-->

.reviews-services {
  cursor: pointer;
  display: flexbox;

  p {
    color: black;
  }

  .active {
    background-color: $light-gray;
    // box-shadow: 4px 4px 12px rgba(0,0,0,0.5);
  }

  .passive {
    background-color: transparent;
  }


  .change {
    display: none;
  }

  .reviews {
    display: block;
    width: 50%;
    padding: 8px;
    border-radius: 4px;
  }

  .services {
    display: block;
    width: 50%;
    padding: 8px;
    border-radius: 4px 4px 0 0;
    overflow: scroll;
  }

  .services_section {
    display: none;
    width: 100%;
    height: 188px;
    overflow: scroll;
  }

  .appear {
    display: block;
    width: 100%;
    // box-shadow: 4px 4px 12px rgba(0,0,0,0.5);
    background-color: $light-gray;
    border-radius: 4px;
    overflow: scroll;
  }

  .reviews_section {
    width:100%;
    height: 188px;
    background-color: $light-gray;
    border-radius: 4px 4px 0 0;
    overflow: scroll;
  }
}

.part1 {
  border-radius: 4px 4px 0 0;
}

.review-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFF0E5;
  width: 80%;
  margin: 24px auto;
  box-shadow: $tertiary-box-shadow;
  border-radius: 4px;
  padding: 1.4em;
}
