<div class="info">
<div class="message">
    <h2><MESSAGES></MESSAGES></h2>
</div>
    <div class="d-flex flexor">
    <div class="owner-section">
        <h2>Your Appointment(s)</h2>
        <%= @current_user.barber? ? "Your appointments:" : "Your next appointment:" %>
        <% @my_appointments.each do |appointment| %>
        <% other_user = appointment.other_user(current_user) %>
        <li>With:<%= other_user.full_name() %></li>
        On <%= appointment.day %>
        This service will take <%= appointment.durations %>
        <% end %>
</div>