
<div class="calendar-container">
<%= month_calendar(events: @appointments, end_attribute: :end_time) do |date, appointments| %>
    <%= date %>
    <% appointments.each do |appointment| %>
    <div class="meeting">
    <p>Unavailable</p>
    <small><%= appointment.time unless appointment.multi_days? %></small>
    </div>
    <% end %>
    <% end %>
</div>